<h2> Everyone gets pizza! If they order it... </h2>
<h3> <strong>All orders:</strong></h3>
<%# loops thru @orders array and calls pretty_name method on each element
don't forget the = in the icecream cone for printing! %>
<%# erb comment %>
<%for order in @orders %>
  <p>  Name: <%= order.pretty_name() %> </p>
  <p>  Order: <%= order.quantity %> <%= order.topping()%> pizza(s)</p>
  <p><a href="pizza-orders/<%= order.id%>">Show Order</a></p>
<% end %>
