<!DOCTYPE html>
<html>
<head>
  <title>Pizzazz Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <h1>Pizzazz Pizza Shop</h1>
  <a href='https://techflourish.com/categories/halloween-eating-pizza-clipart.html'><img class="pic" width='200'
    src='https://techflourish.com/images/halloween-eating-pizza-clipart-12.png'/></a>
    <!-- see url for image source -->
  <div class="navclass">
    <nav>
      <ul>
        <li> <a href = "/pizza-orders"> Show All Orders</a></li>
        <li> <a href = "/pizza-orders/new"> Create New Pizza Order</a></li>
      </ul>
    </nav>
  </div>

  <%= yield %>

</body>
</html>
