<!DOCTYPE html>
<html>
<head>
  <title>Pizzazz Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <h1>Pizzazz Pizza Shop</h1>
  <div class="navclass">
    <nav>
      <ul>
        <li> <a href = "/pizza-orders"> Show All Orders</a></li>
        <li> <a href = "/pizza-orders/new"> Create New Pizza Order</a></li>
      </ul>
    </nav>
  </div>

  <%= yield %>

</body>
</html>
